<%= image_tag("footer.png", :class=>'png clear') %>

<div class="text_c" style="padding-top: 20px;">
  Shoebox Projects is a <a href="http://lovdbyless.com/">Social Movement Platform</a> | <a href="http://shoeboxproject.wordpress.com/contact-us-now-d/">Contact Us</a>

</div>

<div id="message" class="fixed"></div>

